*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#note{
  width: 600px;
  min-height: 300px;
  margin: 50px auto;
  border-radius: 20px;
  border: 20px solid #000;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.line{
  width:10px;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

h2{
  font-size: 24px;
  color: #a17c0e;
  text-align: start;
  padding-left: 20px;
  margin-bottom: 10px;
}

.tasks, .right{
  width: 50%;
}

.tasks, .add-panel{
  margin-left: 10px;
}

input{
  display: inline-block;
}

.add-panel{
  position: relative;
}

.task{
  width: 95%;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  &:focus{
    outline: none;
  }
}

.add{
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: 90px;
  &:focus{
    outline: none;
  }
  cursor: pointer;
}



.popR, .popL{
  display: none;
  padding: 5px;
  width: 250px;
  background-color: lavenderblush;
  position: relative;
  margin: 0 auto;
  img{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: 230px;
  }
  h3{
    color: pink;
    font-weight: bold;
    font-size: 18px;
  }
  p{
    color: pink;
    font-size: 14px;
  }
}

//.popL{
//  display: block;
//  opacity: 0;
//}


